.ctnpagelegal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: calc(135px + 2rem) 0 3rem 0;
}

.wrppglegal {
    width: 80%;
}

.ctnpagelegal h1 {
    margin: 0 0 2rem 0;
    font-size: 2rem;
    color: black;
    font-weight: 600;
}

.ctnpagelegal p {
    margin: .25rem 0 .25rem 0;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
    .ctnpagelegal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: calc(115px + 1rem) 0 0 0;
    }
    .wrppglegal {
        width: 90%;
    }
}
