.wrapnavbarctn {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 35px;
    box-shadow: -1px 2px 0px 0px #001d6e50;
    -webkit-box-shadow: -1px 2px 0px 0px #001d6e50;
    -moz-box-shadow: -1px 2px 0px 0px #001d6e50;
    z-index: 999;
    transition: all .35s ease;
}

.dropdownindicnav {
    width: 20px;
    max-width: 20px;
}

.ctntopbarinfosnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: calc(100% - 2rem);
    position: fixed;
    z-index: 999;
    top: 0;
    background-color: #001d6e;
    gap: 2.5rem;
    height: 35px;
    left: 0;
    padding: 0 1rem 0 1rem;
}

.ctnflashinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white !important;
    cursor: pointer;
    gap: .5rem;
    justify-content: flex-start;
}

.ctnflashinfo span {
    font-size: .95rem;
    color: white !important;
    font-weight: 550;
}

.ctnflashinfo img {
    width: 20px;
}

.wrpnavbarcntnt {
    width: 90%;
    display: flex;
    flex-direction: row;
    background-color: inherit;
    align-items: center;
    justify-content: space-between;
}

.wrpnavbarcntnt img {
    width: 120px;
    opacity: 1;
    transition: all .25s ease;
    cursor: pointer;
    user-select: none;
}

.wrpnavbarcntnt img:hover {
    opacity: .8;
}

.ctnnavredirectslnks {
    display: flex;
    gap: 1.5rem;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 5rem);
    padding: 0 2.5rem 0 2.5rem;
    justify-content: flex-start;
}

.ctndropdownservicesnav {
    width: unset;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.ctnnavsrvddown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.dropdownnavserv:hover .dropdownindicnav {
    transform: scale(1.2);
    opacity: .8;
}

.ctnnavsrvddown .ctndropdownnav {
    opacity: 0;
    z-index: -1;
    height: 0;
}

.ctndropdownnav a {
    font-size: .9rem !important;
    color: #001d6e;
    background-color: white;
    width: 100%;
    text-align: left !important;
}

.ctndropdownnav a:first-of-type {
    padding-top: 1rem;
}

.ctndropdownnav a:last-of-type {
    padding-bottom: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ctnnavsrvddown.active .ctndropdownnav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 999;
    width: 300px;
    align-items: flex-start;
    justify-content: flex-start;
}

.ctnnavredirectslnks a {
    color: #001d6e;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    transition: all .25s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .25rem;
}

.ctnnavredirectslnks a:hover {
    text-decoration: underline;
    color: #001d6e99;
}

.ctninteractbtnsnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5%;
    gap: 2rem;
}

.takeapointmentrdrct{
    appearance: none;
    outline: none;
    border: none;
    background: #001d6e;
    color: white;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 80px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 550;
    font-size: 1rem;
    gap: .5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all .25s ease;   
}

.takeapointmentrdrct:hover {
    opacity: .8;
}

.callusbtnnav img,
.takeapointmentrdrct img {
    width: 20px;
}


/* RESPONSIVE */
.hamburgermenunavmbl {
    display: none;
}

.wrpnavcntntresponsive {
    display: none;
}

.opendropdownbg {
    display: none;
}

.ctnmenudropdownnavrspnsv {
    display: none;
}

.ctnmenudropdownnavrspnsv.active {
    display: none;
}

.opendropdownbg.active {
    display: none;
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
    .takeapointmentrdrct {
        font-size: .9rem;
    }
    .ctnnavredirectslnks a {
        font-size: .9rem;
    }    
}

@media screen and (min-width: 0px) and (max-width: 900px) {
    .wrpnavbarcntnt {
        display: none;
    }
    .wrapnavbarctn {

        height: 80px;
        /* position: relative; */
    }
    .wrpnavcntntresponsive {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .logonav {
        width: 110px;
    }
    .hamburgermenunavmbl {
        position: absolute;
        left: 2.5%;
        display: flex;
        width: 40px;
        cursor: pointer;
        opacity: 1;
        transition: all .2s ease;
    }
    .ctndropdownservicesnav {
        width: 100%;
    }
    .hamburgermenunavmbl:hover {
        opacity: .7;
    }
    .ctnmenudropdownnavrspnsv {
        display: none;
    }
    .ctnnavsrvddown {
        width: 100%;
    }
    .ctnnavsrvddown.active .ctndropdownnav {
        width: 100%;
    }
    .ctnmenudropdownnavrspnsv.active {
        animation: slideFromLeft .6s forwards;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: calc(80% - 4rem);
        padding: 2rem;
        height: 100%;
        position: fixed;
        z-index: 4;
        top: 115px;
        background-color: white;
        left: 0;
    }
    .ctnmenudropdownnavrspnsv.active.close {
        animation: slideOut .6s forwards;
    }
    .ctnnavredirectslnks {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        padding: 0 0 0 0;
    }
    .ctnnavredirectslnks a {
        font-size: 1.1rem;
        font-weight: 550;
    }
    .ctninteractbtnsnav {
        position: static;
        width: 100%;
        margin: 3.5rem 0 0 0;
        gap: 2rem;
    }
    .opendropdownbg.active {
        height: 100%;
        backdrop-filter: blur(8px);
        background-color: #FFFFFF20;
        position: fixed;
        top: 115px;
        display: flex;
        left: 0;
        z-index: 3;
        width: 100%;
    }
    .ctntopbarinfosnav {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: scroll;
        justify-content: flex-start;
        width: 100%;
        max-width: 100%;
        background-color: #001d6e;
        gap: unset;
        padding: 0 0 0 0;
    }
    .ctnflashinfo {
        width: 100%;
        min-width: 100%;
        justify-content: center;
    }
    .ctnflashinfo span {
        font-size: .85rem;
        color: white;
        font-weight: 450;
    }
    .ctnflashinfo img {
        width: 15px;
    }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    .hamburgermenunavmbl {
        width: 30px;
    }
}

@media screen and (min-width: 0px) and (max-width: 400px) {
    .ctnmenudropdownnavrspnsv.active {
        width: calc(80% - 4rem);
        padding: 2rem 1rem 2rem 1rem;
        width: calc(100% - 2rem);
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-100%);
    }
}
