/* [CONTAINERS CONTACT CSS VARS] */
.wrapcontactformpg {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #11111166;
    backdrop-filter: blur(4px);
    display: flex;
    z-index: 999;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ctnformadscontactpg {
    width: calc(50% - 150px);
    height: calc(75% - 150px);
    border-radius: 15px;
    min-width: 750px;
    box-shadow:
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 75px;
    display: flex;
    position: relative;
    max-height: calc(75% - 150px);
    overflow-y: scroll;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
}

/* [TOP CONTACT FORM CSS VARS] */
.topimgformlogo {
    width: 150px;
}

.logotextctn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 2.5%;
}

.logotextctn h2 {
    font-family: 'Poppins', sans-serif;
    margin: 0 0 0 0;
    font-weight: 800;
    color: #111111;
    font-size: 1.8rem;
}


/* [FORM CONTACT CSS VARS] */
.formcontactuscntctpg {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 1rem 0 0 0;
    align-items: center;
    width: calc(100% - 2rem);
    justify-content: flex-start;
    padding: 1rem;
}

.formcontactuscntctpg h3 {
    font-family: 'Poppins', sans-serif;
    margin: 0 0 0 0;
    font-weight: 600;
    color: #111111;
    font-size: 1.15rem;
    width: 100%;
}

.ctnphonezipcodeinpts,
.ctnnamefirstnamecntctform {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
    margin: 2.5rem 0 2.5rem 0;
}

.ctninptscntctcontactpg {
    margin: 0 0 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 2.5rem; */
    align-items: flex-start;
    justify-content: flex-start;
}

.inputctncntctus {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.inputctncntctus input {
    width: 100%;
    height: 100%;
    appearance: none;
    color: #505050;
    border: none;
    padding: 0 0 0 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border-bottom: 2px solid rgba(0, 85, 164, .8);
    outline: none;
}

.inputctncntctus.active label,
.inputctncntctus input:focus + label {
    position: absolute;
    font-size: .8rem;
    color: rgba(0, 85, 164, .7);
    top: -.8rem;
}

.inputctncntctus label {
    position: absolute;
    font-size: 1rem;
    color: rgba(0, 85, 164);
    left: 0;
    transition: all .25s ease;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.formcontactuscntctpg button {
    /* position: absolute;
    right: 0;
    bottom: 0; */
    appearance: none;
    border: none;
    outline: none;
    font-size: 1.1rem;
    padding: .5rem 1.5rem .5rem 1.5rem;
    border-radius: 60px;
    font-weight: 550;
    color: white;
    margin: 1.5rem 0 2rem 0;
    cursor: pointer;
    transition: all .25s ease;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
    align-self: flex-start;
    background: rgba(0, 85, 164);
}

.formcontactuscntctpg button:hover {
    background: rgba(0, 85, 164, .7);
}

.ctndropdowntypeofcontact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.dropdownroller {
    text-align: left;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgba(0, 85, 164);
}

.dropdownroller:hover {
    text-decoration: underline;
}

.dropdownroller.active {
    color: rgba(0, 85, 164, .6);
    text-decoration: underline;
}

.dropdownroller.active:hover {
    color: rgba(0, 85, 164);
    text-decoration: none;
}

.ctnddownchooseeventtypecntct {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    transition: all .25s ease;
    justify-content: center;
    max-height: 0;
    width: 100%;
    background-color: white;
}

.ctnddownchooseeventtypecntct.active {
    height: auto;
    max-height: calc(30px * 5);
    margin: 1rem 0 0 0;
    padding: 0 0 1rem 0;
}

.ctnddownchooseeventtypecntct label {
    z-index: -1;
    width: calc(100% - 1rem);
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    cursor: pointer;
    background-color: white;
    height: 30px;
    padding: 0 0 0 1rem;
    color: rgba(0, 85, 164);
}

.ctnddownchooseeventtypecntct label:hover {
    text-decoration: underline;
    color: rgba(0, 85, 164, .7);
}

.ctnddownchooseeventtypecntct.active label {
    z-index: 1;
}

.selectedelemddown {
    width: 100%;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgba(0, 85, 164);
    opacity: 1;
}

.selectedelemddown.none {
    opacity: 0;
}

.formerr {
    position: absolute;
    font-size: .8rem;
    color: rgba(239, 65, 53);
    bottom: -1.2rem;
    left: 0;
}


.formerr.dropdown {
    position: absolute;
    font-size: .8rem;
    color: rgba(239, 65, 53);
}

.formerr.hide.dropdown {
    opacity: 0;
}
/* 
.gradient {
    background: linear-gradient(to bottom, transparent, white);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
} */

.ctncgupoliticsaccept {
    width: 100%;
    gap: .75rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.ctntextpoliticsformcntctpg {
    width: 95%;
    max-width: 95%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

.ctntextpoliticsformcntctpg a {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: underline;
    color: rgba(0, 85, 164);
    transition: all .2s ease;
    cursor: pointer;
    text-decoration: none;
}

.ctntextpoliticsformcntctpg a:hover {
    color: rgba(0, 85, 164, .8);
}

input[type="checkbox"]  {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    margin: 0 0 0 0;
    border: 1px solid #757575;
    cursor: pointer;
    border-radius: 4px; 
    transform: translateY(5px);
}

input[type="checkbox"]:checked {
    background-color: rgba(0, 85, 164);
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
}


@media screen and (min-width: 700px) and (max-width: 975px) {
    .ctnformadscontactpg {
        width: calc(50% - 50px);
        height: calc(75% - 50px);
        border-radius: 15px;
        min-width: 600px;
        box-shadow:
            rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        padding: 25px;
        display: flex;
        position: relative;
        max-height: calc(75% - 50px);
        overflow-y: scroll;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: white;
    }       
}


@media screen and (min-width: 700px) and (max-width: 975px) {
    .ctnformadscontactpg {
        width: calc(50% - 50px);
        height: calc(75% - 50px);
        min-width: 600px;
        padding: 25px;
        max-height: calc(75% - 50px);
    }
}

@media screen and (min-width: 0px) and (max-width: 700px) {
    .ctnformadscontactpg {
        width: calc(100% - 100px);
        min-width: unset;
        min-height: unset;
        height: calc(100% - 100px);
        padding: 50px;
        max-height: unset;
        border-radius: 0;
    }       
    .logotextctn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        gap: 2rem;
    }
    .topimgformlogo {
        width: 200px;
    }
    .formcontactuscntctpg h3 {
        font-size: 1rem;
        text-align: center;
    }
    .ctntextpoliticsformcntctpg {
        width: 95%;
        max-width: 95%;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: .8rem;
    }
    .ctntextpoliticsformcntctpg a {
        font-size: .8rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        text-decoration: underline;
        color: rgba(0, 85, 164);
        transition: all .2s ease;
        cursor: pointer;
        text-decoration: none;
    }
}

@media screen and (min-width: 0px) and (max-width: 550px) {
    .ctnphonezipcodeinpts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 2.5rem;
        margin: 2.5rem 0 2.5rem 0;
    }
    .logotextctn h2 {
        font-size: 1.35rem;
    }
    .formcontactuscntctpg {
        margin: 0 0 0 0;
    }
    .ctnformadscontactpg {
        width: calc(100% - 50px);
        min-width: unset;
        min-height: unset;
        height: calc(100% - 50px);
        padding: 25px;
        max-height: unset;
        border-radius: 0;
    }       
}