.formcontactuscntctpg {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 2rem 0 5rem 0;
    align-items: center;
    width: calc(90% - 10rem);
    border-radius: 20px;
    justify-content: flex-start;
    padding: 5rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; 
}

.formcontactuscntctpg.home {
    box-shadow: none;
    padding: 0 0 0 0;
    width: 60%;
}

.formcontactuscntctpg h3 {
    font-family: 'Poppins', sans-serif;
    margin: 0 0 0 0;
    font-weight: 900;
    color: #001d6e;
    font-size: 1.75rem;
    width: 100%;
}

.formcontactuscntctpg button {
    appearance: none;
    border: none;
    outline: none;
    font-size: 1.1rem;
    padding: .5rem 1.5rem .5rem 1.5rem;
    border-radius: 60px;
    font-weight: 550;
    color: white;
    margin: 1.5rem 0 2rem 0;
    cursor: pointer;
    transition: all .25s ease;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
    align-self: flex-end;
    background: #001d6e;
}

.formcontactuscntctpg button:hover {
    background: rgba(0, 85, 164, .7);
}

.ctninptscntctcontactpg {
    margin: 2rem 0 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 2.5rem; */
    align-items: flex-start;
    justify-content: flex-start;
}

.ctnphonezipcodeinpts,
.ctnnamefirstnamecntctform {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
    margin: 2.5rem 0 2.5rem 0;
}

.inputctncntctus {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.inputctncntctus input {
    width: 100%;
    height: 100%;
    appearance: none;
    color: #505050;
    border: none;
    padding: 0 0 0 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border-bottom: 2px solid rgba(0, 85, 164, .8);
    outline: none;
}

.inputctncntctus.active label,
.inputctncntctus input:focus + label {
    position: absolute;
    font-size: .8rem;
    color: rgba(0, 85, 164, .7);
    top: -.8rem;
}

.inputctncntctus label {
    position: absolute;
    font-size: 1rem;
    color: #001d6e;
    left: 0;
    transition: all .25s ease;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.formerr {
    position: absolute;
    font-size: .8rem;
    color: rgba(239, 65, 53);
    bottom: -1.2rem;
    left: 0;
}

.formerr.politics {
    position: static;
    align-self: flex-start;
    margin: .35rem 0 0 0;
}

.formerr.dropdown {
    position: absolute;
    font-size: .8rem;
    color: rgba(239, 65, 53);
}

.formerr.hide.dropdown {
    opacity: 0;
}

.ctndropdowntypeofcontact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.dropdownroller {
    text-align: left;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #001d6e;
    text-decoration: underline;
}

.dropdownroller:hover {
    text-decoration: underline;
}

.dropdownroller.active {
    color: rgba(0, 85, 164, .6);
    text-decoration: underline;
}

.dropdownroller.active:hover {
    color: #001d6e;
    text-decoration: none;
}


.ctnddownchooseeventtypecntct {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    transition: all .25s ease;
    justify-content: center;
    max-height: 0;
    width: 100%;
    background-color: white;
}

.ctnddownchooseeventtypecntct.active {
    height: auto;
    max-height: calc(30px * 5);
    margin: 1rem 0 0 0;
    padding: 0 0 1rem 0;
}

.ctnddownchooseeventtypecntct label {
    z-index: -1;
    opacity: 0;
    width: calc(100% - 1rem);
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    cursor: pointer;
    background-color: white;
    height: 30px;
    padding: 0 0 0 1rem;
    color: #001d6e;
}

.ctnddownchooseeventtypecntct label:hover {
    text-decoration: underline;
    color: rgba(0, 85, 164, .7);
}

.ctnddownchooseeventtypecntct.active label {
    z-index: 1;
    opacity: 1;
}

.selectedelemddown {
    width: 100%;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #001d6e;
    opacity: 1;
}

.selectedelemddown.none {
    opacity: 0;
}

.successsubmit {
    font-size: 1rem;
    color: green;
    margin: 1rem 0 0 0;
    text-align: center;
    font-weight: 400;
}

.errsubmit {
    font-size: 1rem;
    color: red;
    margin: 1rem 0 0 0;
    text-align: center;
    font-weight: 400;

}

.ctncgupoliticsaccept {
    width: 100%;
    gap: .75rem;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.ctntextpoliticsformcntctpg {
    width: 95%;
    max-width: 95%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

.ctntextpoliticsformcntctpg a {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: underline;
    color: #001d6e;
    transition: all .2s ease;
    cursor: pointer;
    text-decoration: none;
}

.ctntextpoliticsformcntctpg a:hover {
    color: rgba(0, 85, 164, .8);
}


/* [CONTACT PAGE] */
@media screen and (min-width: 900px) and (max-width: 1050px) {
    .formcontactuscntctpg h3 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .formcontactuscntctpg.contact {
        box-shadow: unset;
        padding: 0 0 0 0;
        width: 100%;
    }
    .formcontactuscntctpg.contact h3 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    .formcontactuscntctpg.contact {
        box-shadow: unset;
        padding: 0 0 0 0;
        width: 100%;
    }
    .formcontactuscntctpg.contact h3 {
        font-size: 1.5rem;
    }
}

/* [HOME PAGE] */
@media screen and (min-width: 600px) and (max-width: 1000px) {
    .formcontactuscntctpg.home {
        box-shadow: none;
        padding: 0 0 0 0;
        width: 80%;
    }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    .formcontactuscntctpg.home {
        box-shadow: none;
        padding: 0 0 0 0;
        width: 90%;
    }
    .formcontactuscntctpg h3 {
        font-weight: 550;
        color: #001d6e;
        font-size: 1.25rem;
        text-align: center;
    }
    .ctnnamefirstnamecntctform {
        flex-direction: column;
        width: 100%;
        gap: 2.5rem;
        margin: 1rem 0 2.5rem 0;
    }
    .ctntextpoliticsformcntctpg {
        font-size: .9rem;
    }
    .ctntextpoliticsformcntctpg a {
        font-size: .9rem;
    }
    .formcontactuscntctpg.home button {
        font-size: 1rem;
        margin: 1.5rem 0 2rem 0;
        align-self: center;
    }
    .dropdownroller {
        text-align: center;
    }
}

