.ctncntctpgwrp {
    display: flex;
    margin: 135px 0 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #001d6e;
}

.wrpcontactform {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ctncontactformpg {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
    .ctncontactformpg {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }   
}


@media screen and (min-width: 600px) and (max-width: 900px) {
    .ctncontactformpg {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ctncntctpgwrp {
        margin: 115px 0 0 0;
        background-color: white;
    }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    .ctncntctpgwrp {
        margin: 115px 0 0 0;
        background-color: white;
    }
    .ctncontactformpg {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }   
}

