.ctncntctpgwrp {
    display: flex;
    margin: 100px 0 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.wrpcontactform {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ctncontactformpg {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
    .ctncontactformpg {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }   
}


@media screen and (min-width: 600px) and (max-width: 900px) {
    .ctncontactformpg {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }   
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    .ctncontactformpg {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }   
}

