.wraphomepg {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0 0 0;
    font-family: 'Poppins', sans-serif;
}

.mainhmpgimg {
    width: 100%;
}

.mainbghomepage {
    background-color:rgba(0, 85, 164);
    position: relative;
    width: 100%;
    /* height: calc(500px - 20rem);
    padding: 10rem;
    width: calc(100% - 20rem); */
    height: 650px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

.wrpttlhmpgmain {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2.5rem 5rem 2.5rem 10%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    left: 0;
    background-color: rgba(0, 85, 164, .35);
}

.wrpttlhmpgmain h1 {
    display: flex;
    margin: 0 0 0 0;
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
}

.mainhomepagebtnrdctn {
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    background: rgba(239, 65, 53);
    font-family: inherit;
    margin: 1rem 0 0 0;
    padding: .25rem 1.25rem .25rem 1.5rem;
    border-radius: 60px;
    cursor: pointer;
    transition: all .25s ease;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.mainhomepagebtnrdctn:hover img {
    transform: translateX(5px);
}

.mainhomepagebtnrdctn img {
    width: 20px;
    transition: all .3s ease;
}

.mainhmpgservices {
    display: flex;
    padding: 2.5rem;
    background-color: rgba(239, 65, 53);
    margin: 0 0 2rem 0;
    border-radius: 10px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    gap: 2rem;
}

.ctnservicesblckhmpg {
    display: flex;
    width: calc((80% / 4) - 3rem);
    padding: 1rem 1.5rem 1rem 1.5rem;
    min-height: 200px;
    flex-direction: column;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    justify-content: flex-start;
    background-color: white;
    align-items: flex-start;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.ctnservicesblckhmpg h2 {
    margin: 0 0 0 0;
    font-size: 1.8rem;
    font-weight: 900;
    color: rgba(239, 65, 53);
}

.bgimgservicehmpg {
    margin: auto;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    transition: all .3s ease;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.ttlmainhmpgservices {
    align-self: center;
    font-size: 1.35rem;
    width: calc(80%);
    text-align: left;
    margin: 2rem 0 0 0;
    color: rgba(239, 65, 53);
    display: flex;
    gap: .5rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}

.linettlserviceshmpg {
    border: 1px solid rgba(239, 65, 53);
    height: 0;
    padding: 0;
    border-radius: 20px;
    flex: 1;
}

.ctntxtnosserviceshmpg {
    height: calc(40% - 2rem);
    width: calc(100% - 3rem);
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(239, 65, 53, .7);
    padding: 1rem 1.5rem 1rem 1.5rem;
    transition: all .3s ease;
}

.ctntxtnosserviceshmpg span {
    color: white;
    font-weight: 900;
    font-size: 1.3rem;
}

.ctnservicesblckhmpg:hover .bgimgservicehmpg {
    transform: scale(1.05);
}

.ctnservicesblckhmpg:hover .ctntxtnosserviceshmpg {
    background-color: rgba(239, 65, 53);
}

.ctnhmpgmaintxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0 2.5rem 0;
    width: 100%;
    justify-content: flex-start;
}

.ctnhmpgmaintxt h1 {
    max-width: 80%;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    margin: 0 0 0 0;
    color: rgba(0, 85, 164);
}

.ctnhmpgmaintxt h3 {
    max-width: 80%;
    font-size: 1.35rem;
    text-align: center;
    margin: 1.25rem 0 0 0;
    color: #505050;
    font-weight: 550;
}

/* START COMPONENT CONTACT */
.formcontactuscntctpg {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 2rem 0 5rem 0;
    align-items: center;
    width: calc(70% - 5rem);
    border-radius: 20px;
    justify-content: flex-start;
    padding: 2.5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.formcontactuscntctpg h3 {
    font-family: 'Poppins', sans-serif;
    margin: 0 0 0 0;
    font-weight: 900;
    color: rgba(0, 85, 164);
    font-size: 1.75rem;
    width: 100%;
}

.formcontactuscntctpg button {
    /* position: absolute;
    right: 0;
    bottom: 0; */
    appearance: none;
    border: none;
    outline: none;
    font-size: 1.1rem;
    padding: .5rem 1.5rem .5rem 1.5rem;
    border-radius: 60px;
    font-weight: 550;
    color: white;
    margin: 1.5rem 0 2rem 0;
    cursor: pointer;
    transition: all .25s ease;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
    align-self: flex-end;
    background: rgba(0, 85, 164);
}

.formcontactuscntctpg button:hover {
    background: rgba(0, 85, 164, .7);
}

.ctninptscntctcontactpg {
    margin: 2rem 0 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 2.5rem; */
    align-items: flex-start;
    justify-content: flex-start;
}

.ctnphonezipcodeinpts,
.ctnnamefirstnamecntctform {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
    margin: 2.5rem 0 2.5rem 0;
}

.inputctncntctus {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.inputctncntctus input {
    width: 100%;
    height: 100%;
    appearance: none;
    color: #505050;
    border: none;
    padding: 0 0 0 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border-bottom: 2px solid rgba(0, 85, 164, .8);
    outline: none;
}

.inputctncntctus.active label,
.inputctncntctus input:focus + label {
    position: absolute;
    font-size: .8rem;
    color: rgba(0, 85, 164, .7);
    top: -.8rem;
}

.inputctncntctus label {
    position: absolute;
    font-size: 1rem;
    color: rgba(0, 85, 164);
    left: 0;
    transition: all .25s ease;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.formerr {
    position: absolute;
    font-size: .8rem;
    color: rgba(239, 65, 53);
    bottom: -1.2rem;
    left: 0;
}

.formerr.politics {
    position: static;
    align-self: flex-start;
    margin: .35rem 0 0 0;
}

.formerr.dropdown {
    position: absolute;
    font-size: .8rem;
    color: rgba(239, 65, 53);
}

.formerr.hide.dropdown {
    opacity: 0;
}

.ctndropdowntypeofcontact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.dropdownroller {
    text-align: left;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgba(0, 85, 164);
    text-decoration: underline;
}

.dropdownroller:hover {
    text-decoration: underline;
}

.dropdownroller.active {
    color: rgba(0, 85, 164, .6);
    text-decoration: underline;
}

.dropdownroller.active:hover {
    color: rgba(0, 85, 164);
    text-decoration: none;
}


.ctnddownchooseeventtypecntct {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    transition: all .25s ease;
    justify-content: center;
    max-height: 0;
    width: 100%;
    background-color: white;
}

.ctnddownchooseeventtypecntct.active {
    height: auto;
    max-height: calc(30px * 5);
    margin: 1rem 0 0 0;
    padding: 0 0 1rem 0;
}

.ctnddownchooseeventtypecntct label {
    z-index: -1;
    opacity: 0;
    width: calc(100% - 1rem);
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    cursor: pointer;
    background-color: white;
    height: 30px;
    padding: 0 0 0 1rem;
    color: rgba(0, 85, 164);
}

.ctnddownchooseeventtypecntct label:hover {
    text-decoration: underline;
    color: rgba(0, 85, 164, .7);
}

.ctnddownchooseeventtypecntct.active label {
    z-index: 1;
    opacity: 1;
}

.selectedelemddown {
    width: 100%;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgba(0, 85, 164);
    opacity: 1;
}

.selectedelemddown.none {
    opacity: 0;
}

.ctncgupoliticsaccept {
    width: 100%;
    gap: .75rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.ctntextpoliticsformcntctpg {
    width: 95%;
    max-width: 95%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

.ctntextpoliticsformcntctpg a {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: underline;
    color: rgba(0, 85, 164);
    transition: all .2s ease;
    cursor: pointer;
    text-decoration: none;
}

.ctntextpoliticsformcntctpg a:hover {
    color: rgba(0, 85, 164, .8);
}

/* END OF CONTACT COMPONENT */


input[type="checkbox"]  {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    margin: 0 0 0 0;
    border: 1px solid #757575;
    cursor: pointer;
    border-radius: 4px; 
    transform: translateY(5px);
}

input[type="checkbox"]:checked {
    background-color: rgba(0, 85, 164);
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
}