.peoplecarrousselhmpg {
    width: calc(100%);
    max-width: calc(100%);
    position: relative;
    display: flex;
    background-color: rgba(0, 85, 164, .6);
    align-items: center;
    justify-content: flex-start;
    margin: 3.5rem 0 5rem 0;
    overflow-x: visible;
}

.ctncrslhmpgscroll {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4rem 0 4rem 5%;
    width: calc(100% - 5%);
    gap: 7.5%;
    transition: all 1s ease;
    max-width: calc(100% - 5%);
    justify-content: flex-start;
}

.ctnpeoplehistorycntnt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    min-width: 70%;
    gap: 2.5rem;
}

.ctnttlcarrousselhmpg {
    position: absolute;
    color: rgba(0, 85, 164);
    top: -2.5rem;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    padding: 1rem 2rem 1rem 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    box-shadow:
        rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    justify-content: flex-start;
    background-color: rgba(0, 85, 164);

}

.ctnttlcarrousselhmpg h4 {
    font-size: 1.5rem;
    color: white;
    margin: 0 0 0 0;
}

.ctnttlcarrousselhmpg img {
    width: 40px;
}

.ctnpeoplenamehsitory {
    padding: 1.5rem;
    background-color: rgba(0, 85, 164);
    color: white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 20px;
}

.ctnpeoplenamehsitory span {
    font-size: .95rem;
    font-weight: 350;
}

.ctnpersontitle h4 {
    font-size: 1.5rem;
    font-weight: 550;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}   

.ctnpersontitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .15rem;
    margin: 0 0 .5rem 0;
    justify-content: flex-start;
}

.ctnpersontitle label {
    margin: 0 0 0 0;
    color: white;
    font-weight: 550;
    font-size: 1.1rem;
    text-decoration: none;
}

.imgpersoncarroussel {
    width: 170px;
}

.ctncarrousselswitchershmpg {
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: center;
    gap: 1rem;
    position: absolute;
    top: -1.5rem;
    right: 5%;
}

.swtchcrsllefthmpg {
    width: 40px;
    transform: rotate(180deg);
}

.swtchcrslrighthmpg {
    width: 40px;
}

.ctnswitchcrsl {
    padding: .5rem;
    background-color: rgba(0, 85, 164);
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all .25s ease;
    align-items: center;
    border-radius: 100%;
}

.ctnswitchcrsl:hover {
    background-color: rgba(0, 85, 164, .8);
}


@media screen and (min-width: 1000px) and (max-width: 1200px)   {
    .ctnpeoplehistorycntnt {
        width: 80%;
        min-width: 80%;
    }
}

@media screen and (min-width: 0px) and (max-width: 1000px)   {
    .ctnpeoplehistorycntnt {
        width: 90%;
        min-width: 90%;
    }
    .imgpersoncarroussel {
        display: none;
    }
    .peoplecarrousselhmpg {
        margin: 2.5rem 0 2rem 0;
    }
}

@media screen and (min-width: 0px) and (max-width: 800px)   {
    .ctnttlcarrousselhmpg {
        top: -1.5rem;
        border-radius: 60px;
        padding: .5rem 1.5rem .5rem 1.5rem;
        display: flex;
        left: 2rem;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        box-shadow:
            rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
            rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        justify-content: flex-start;
        background-color: rgba(0, 85, 164);
    }
    .ctnttlcarrousselhmpg h4 {
        font-size: 1.25rem;
        color: white;
        margin: 0 0 0 0;
    }
    .ctnttlcarrousselhmpg img {
        width: 30px;
    }
    .ctncarrousselswitchershmpg {
        top: unset;
        bottom: -1.5rem;
        right: 3.5%;
    }
    .swtchcrsllefthmpg,
    .swtchcrslrighthmpg {
        width: 30px;
    }
    .peoplecarrousselhmpg {
        margin: 2.5rem 0 2rem 0;
    }
}



@media screen and (min-width: 0px) and (max-width: 600px)   {
    .ctnpeoplenamehsitory {
        padding: 1.5rem;
        background-color: rgba(0, 85, 164);
        color: white;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        border-radius: 20px;
        max-height: 200px;
        overflow-y: scroll;
    }
    .ctnpersontitle h4 {
        font-size: 1.25rem;
    }
    .ctnpersontitle {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ctnpeoplenamehsitory span {
        width: 100%;
        display: flex;
        text-align: center;
        line-height: 1.5;
    }
    .ctnpersontitle label {
        font-weight: 450;
        font-size: 1rem;
    }
}

@media screen and (min-width: 0px) and (max-width: 450px)   {
    .ctnttlcarrousselhmpg {
        width: calc(100% - 3rem);
        left: 0;
        padding: 1rem 1.5rem 1rem 1.5rem;
        border-radius: 0px;
    }
    .peoplecarrousselhmpg {
        margin: 2.5rem 0 2rem 0;
    }
}

