.wrapservicesallpg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    margin: 135px 0 5rem 0;
}

.wrapservicesallpg span {
    font-family: 'Open-Sans', sans-serif !important;
}

.bgimgnoservicespg {
    width: 100%;
}

.ctnmainttlbgnosservicespg h1 {
    color: #001d6e;
    font-size: 2.75rem;
    font-weight: 900;
    width: 90%;
    align-self: center;
    margin: 1rem 0 0 0;
}

.ctnmainttlbgnosservicespg h2 {
    width: 90%;
    align-self: center;
    font-size: 1.2rem;
    font-weight: 550;
    color: #001d6e;
    margin: 0 0 3rem 0;
}

.ctnservicespgexplainrdrct {
    width: 90%;
    display: flex;
    gap: 3.5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2.5rem 0 2.5rem 0;
}

.ctnmainttlbgnosservicespg {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.wrapservicessrvcspg {
    width: 100%;
    display: flex;
    gap: 2.5rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.wrapservicessrvcspg.reverse {
    width: 100%;
    display: flex;
    gap: 2.5rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;
}

.wrapservicessrvcspg.noreverse {
    width: 100%;
    display: flex;
    gap: 2.5rem;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-end;
}

.wrpservicettltxt {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.wrpservicettltxt h3 {
    font-size: 2rem;
    color: #001d6e;
    margin: 0 0 0 0;
    line-height: 1.1;
}

.wrpservicettltxt span {
    text-align: left;
    font-size: 1.05rem;
    margin: 1rem 0 1.5rem 0;
}

.wrpservicesimgrdrct {
    height: 400px;
    min-height: 400px;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.wrpsrvcspgimg {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    overflow: hidden;
    border: 1px solid #AAAAAA;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.wrpsrvcspgimg:hover {
    transform: translateY(3px);
    box-shadow: unset;
    border: 1px solid #AAAAAA10;
}

.wrpsrvcspgimg img {
    margin: auto;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    transition: all .3s ease;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.txtservicespgbtn {
    font-size: 1rem;
    font-weight: 550;
    color: white;
    background: rgba(239, 65, 53);
    font-family: inherit;
    text-decoration: none;
    margin: 1rem 0 0 0;
    padding: .25rem 1.25rem .25rem 1.5rem;
    border-radius: 60px;
    cursor: pointer;
    transition: all .25s ease;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.txtservicespgbtn:hover img {
    transform: translateX(5px);
}

.txtservicespgbtn img {
    width: 20px;
    transition: all .3s ease;
}

@media screen and (min-width: 1100px) and (max-width: 1300px) {
    .ctnmainttlbgnosservicespg h1 {
        font-size: 2.25rem;
    }
    .ctnmainttlbgnosservicespg h2 {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
    .ctnmainttlbgnosservicespg h1 {
        font-size: 2.25rem;
    }
    .ctnmainttlbgnosservicespg h2 {
        font-size: 1.1rem;
    }
    .wrpservicettltxt h3 {
        font-size: 1.6rem;
    }
    .wrpservicettltxt span {
        font-size: 1rem;
    }
}

@media screen and (min-width: 0px) and (max-width: 900px) {
    .ctnmainttlbgnosservicespg h1 {
        font-size: 2.25rem;
    }
    .ctnmainttlbgnosservicespg h2 {
        font-size: 1.1rem;
    }
    .wrpservicettltxt h3 {
        font-size: 1.6rem;
    }
    .wrpservicettltxt span {
        font-size: 1rem;
    }
    .wrapservicessrvcspg,
    .wrapservicessrvcspg.reverse,
    .wrapservicessrvcspg.noreverse {
        width: 100%;
        display: flex;
        gap: 2.5rem;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        align-self: unset;
    }
    .wrpservicesimgrdrct {
        height: 400px;
        min-height: 400px;
        width: 100%;
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: center;
    }
    .wrpsrvcspgimg {
        height: 400px;
    }
    .wrpservicettltxt {
        width: 100%;
    }
    .wrapservicesallpg {
        margin: 115px 0 5rem 0;
    }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    .ctnmainttlbgnosservicespg h1 {
        font-size: 1.8rem;
        text-align: center;
    }
    .ctnmainttlbgnosservicespg h2 {
        font-size: 1rem;
        text-align: center;
        margin: 0 0 1rem 0;
    }
}


@media screen and (min-width: 0px) and (max-width: 500px) {
    .ctnmainttlbgnosservicespg h1 {
        font-size: 1.8rem;
        text-align: center;
    }
    .ctnmainttlbgnosservicespg h2 {
        font-size: 1rem;
        text-align: center;
        margin: 0 0 1rem 0;
    }
    .wrpservicettltxt h3 {
        font-size: 1.35rem;
    }
    .wrpservicettltxt {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .wrpservicettltxt span {
        font-size: 1rem;
        text-align: center;
        font-size: .9rem;
    }
    .wrpservicesimgrdrct {
        height: 300px;
        min-height: 300px;
        width: 100%;
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: center;
    }
    .wrpsrvcspgimg {
        height: 300px;
    }

}