.mainctnfooterwrp {
    width: 100%;
    background-color: white;
    padding: 0 0 5rem 0;
    border-top: 2px solid #001d6e;
    z-index: 999;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.wrpfootercntnt {
    width: calc(100% - 5rem);
    display: flex;
    gap: 3rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem 0 0 5rem;
}

.ctncontactusfooter h3,
.ctnanosservicesfooter h3 {
    font-size: 1rem;
    color: #001d6e;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 0 0;
}

.ctnaddrfootercontactus {
    color: #001d6e;
    font-weight: 350;
    font-size: .9rem;
}

.ctnaddrfootercontactus {
    margin: 0 0 .5rem 0;
}

.ctncontactinfofooter a,
.ctnservicestxtfooter {
    color: #001d6e;
    font-weight: 350;
    text-decoration: none;
    font-size: .95rem;    
}

.ctncontactinfofooter a {
    font-weight: 450;
    cursor: pointer;
}

.ctncontactinfofooter a:hover {
    text-decoration: underline;
}

.ctnservicestxtfooter:hover {
    text-decoration: underline;    
}

.al {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.ctncntntcontactusfooter,
.ctncntntnsoservicesfooter {
    display: flex;
    margin: 1.5rem 0 0 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.ctncontactinfofooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    justify-content: flex-start;
}

.ctncontactinfofooter img {
    width: 20px;
}

.ctncontactinfofooter:last-of-type {
    margin: .25rem 0 0 0;
}

.logofooter {
    position: absolute;
    width: 115px;
    top: 2rem;
    right: 3.5%;
}

.ctnfooterservicesetc {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.5rem;
}

@media screen and (min-width: 0px) and (max-width: 750px) { 
    .ctnfooterservicesetc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2.5rem;
    }
}

@media screen and (min-width: 0px) and (max-width: 450px) {
    .ctnanosservicesfooter {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .logofooter {
        display: none;
    }
    .ctncntntcontactusfooter,
    .ctncntntnsoservicesfooter {
        margin: .5rem 0 0 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .ctncontactusfooter {
        width: 100%;
    }
    .ctncontactusfooter h3 {    
        text-align: center;
    }
    .wrpfootercntnt {
        width: calc(100%);
        display: flex;
        gap: 3rem;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding: 2rem 0 0 0;
    }
    
}